h2{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cpt{
    color: rgb(236, 49, 236);
    font-size:20px ;
}
div{
    border: 1px dashed green;
    padding: 4px 8px;
    line-height: 1.4;
}
