h2{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cpt{
    color: rgb(236, 49, 236);
    font-size:21px ;
}
div{
    border: 1px dashed green;
    padding: 2px 6px;
}
