h2{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cpt{
    color: plum;
    font-size:18px ;
}
div{
    border: 1px dashed green;
    padding: 6px 8px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHwO5S7ELqBdjC4yNMGhFGCXXKu7fZwRcg6A&s');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 350px 200px;
    font-size: 23px;
    
}

